.containerNewVideo {
  text-align: end;
  width: 100%;
}

.titleNewVideo {
  text-align: start;
  margin: 2rem 0 1rem;
  color: white;
  font-weight: 300;
}

.containerFormNewVideo {
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 1.3rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #67BCFA;
  align-items: center;

}

.containerFormNewVideo:nth-child(odd) {
  text-align: start;
  color: #21FFA2;
  font-size: 1.2rem;
}

.containerFormNewVideo input {
  background: #67BCFA;
  display: block;
  border: none;
  font-size: 1.5rem;
  padding: .4rem 1rem;
  border-radius: .8rem;
  width: 100%;
}

.containerFormNewVideo input:focus {
  outline: none;
}

.buttonNewVideo {
  border: none;
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  background: #21FFA2;
  padding: .2rem .8rem;
  border-radius: .2rem;
  margin: 1.2rem 0;

}